.container{
    margin-bottom: 20px;
}
#boy{
    position: relative;
    z-index: 1; 
}
.logo{
    position: absolute;
    z-index :1;
    width: 150px;
    height: 50px;
    top : 30px;
    left : 100px;
}
#covid{
    margin: 30px;
    position: absolute;
    color: rgb(240, 72, 11);
    left : 300px;
    top: 10px;
    z-index: 2;
  }
  
#gifts{
    margin: 30px;
    position: absolute;
    color: black;
    font: 600;
    left : 450px;
    top: 10px;
    z-index: 2;
  }
  
#faq{
    margin: 30px;
    position: absolute;
    color: gray;
    left : 550px;
    top: 10px;
    z-index: 2;
  }
  
#english{
    margin: 30px;
    position: absolute;
    color: gray;
    left : 650px;
    top: 10px;
    z-index: 2;
  }
  
#login{
    margin: 30px;
    position: absolute;
    color: gray;
    font: bolder;
    left : 800px;
    top: 10px;
    z-index: 2;
  }
  
#signup{
    margin: 30px;
    position: absolute;
    color: white;
    font: bold;
    background-color: rgb(184, 183, 183); 
    padding-left: 20px;
    padding-right: 20px;
    left : 950px;
    top: 10px;
    z-index: 2;
  }

#btn1{
    position: absolute;
    left: 300px;
    top: 700px;
    z-index: 2;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 80px;
    padding-right :80px;
    padding-top: 10px;
    padding-bottom: 10px; 
    color:white;
    background-color: rgb(127, 34, 194);
}

.girlpic{
    position: relative;
    z-index: 1;
  }
  
.phonepic{
   position: absolute;
   left : 100px;
   z-index: 2;
  }
  
.playstore{
    position: absolute;
    left: 130px;
    top : 1980px;
    z-index: 2;
  }


#footer1{
    font-family: Helvetica, sans-serif; 
    color:rgb(180, 180, 180); 
    font-size: 13px;
  }
  
#signupFooter{
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
    color:rgb(180, 180, 180);
    background-color: rgb(127, 34, 194);
  }