.container{
    margin-bottom: 20px;
}
#girl{
    position: relative;
    z-index: 1; 
}
.logo{
    position: absolute;
    z-index :1;
    width: 150px;
    height: 50px;
    top : 30px;
    left : 100px;
}
#covid{
    margin: 30px;
    position: absolute;
    color: rgb(240, 72, 11);
    left : 350px;
    top: 10px;
    z-index: 2;
  }
  
#gifts{
    margin: 30px;
    position: absolute;
    color: black;
    font: 600;
    left : 500px;
    top: 10px;
    z-index: 2;
  }
  
#faq{
    margin: 30px;
    position: absolute;
    color: gray;
    left : 600px;
    top: 10px;
    z-index: 2;
  }
  
#english{
    margin: 30px;
    position: absolute;
    color: gray;
    left : 700px;
    top: 10px;
    z-index: 2;
  }
  
#login{
    margin: 30px;
    position: absolute;
    color: gray;
    font: bolder;
    left : 900px;
    top: 10px;
    z-index: 2;
  }
  
#signup{
    margin: 30px;
    position: absolute;
    color: white;
    font: bold;
    background-color: rgb(184, 183, 183); 
    padding-left: 20px;
    padding-right: 20px;
    left : 1100px;
    top: 10px;
    z-index: 2;
  }

   
#h41{
    position: absolute;
    color: rgb(218, 213, 213);
    left: 920px;
    top: 350px;
    z-index: 2;
}

#btn1{
    position: absolute;
    left: 1000px;
    top: 400px;
    z-index: 2;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 50px;
    padding-right :50px;
    padding-top: 10px;
    padding-bottom: 10px; 
    color:white;
    background-color: rgb(127, 34, 194);
}

#hellomarket{
    font-size: 20px;
    text-decoration: underline;
}

#text1{
    color: rgb(9, 151, 9);
}