.container{
  margin-bottom : 50px;
}
ul.tickmark {
    list-style: none;
  }
  
ul li.ticked::before {
    content: '✓';
  }

ul.list-group{
    list-style-type: none;
}

h5.why{
    text-align: center;
    color: #4B0082;
    margin-bottom: 20px;
}


.girl1{
  position: relative;
  z-index: 1;
}


#row1{
  margin: 30px;
  position: absolute;
  left : 200px;
  top: 10px;
  z-index: 2;
}

.logopic{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10px;
  z-index: 2;
  
}


#covid{
  margin: 30px;
  position: absolute;
  color: rgb(240, 72, 11);
  left : 300px;
  top: 10px;
  z-index: 2;
}

#gifts{
  margin: 30px;
  position: absolute;
  color: black;
  font: 600;
  left : 450px;
  top: 10px;
  z-index: 2;
}

#faq{
  margin: 30px;
  position: absolute;
  color: gray;
  left : 550px;
  top: 10px;
  z-index: 2;
}

#english{
  margin: 30px;
  position: absolute;
  color: gray;
  left : 650px;
  top: 10px;
  z-index: 2;
}

#login{
  margin: 30px;
  position: absolute;
  color: gray;
  font: bolder;
  left : 800px;
  top: 10px;
  z-index: 2;
}

#signup{
  margin: 30px;
  position: absolute;
  color: white;
  font: bold;
  background-color: rgb(184, 183, 183); 
  padding-left: 20px;
  padding-right: 20px;
  left : 950px;
  top: 10px;
  z-index: 2;
}

.flag{
  position: absolute;
  left : 950px;
  top: 40px;
  z-index: 2;
}

.line{
  position: absolute;
  width: 450px;
  height: 50px;
  left : 150px;
  top: 100px;
  z-index: 2;
}

.dot1{
  position: absolute;
  width: 50px;
  height: 50px;
  left : 140px;
  top: 100px;
  z-index: 3;
}

.dot2{
  position: absolute;
  width: 50px;
  height: 50px;
  left : 350px;
  top: 100px;
  z-index: 3;
}

.dot3{
  position: absolute;
  width: 50px;
  height: 50px;
  left : 550px;
  top: 100px;
  z-index: 3;
}

.h51{
  position: absolute;
  left : 140px;
  top: 150px;
  z-index: 2;
}

.h52{
  position: absolute;
  left : 300px;
  top: 150px;
  z-index: 2;
}

.h53{
  position: absolute;  
  left : 520px;
  top: 150px;
  z-index: 2;
}

.pic11{
  position: absolute;  
  width: 80px;
  height: 80px;
  left : 140px;
  top: 180px;
  z-index: 2;
}

.pic12{
  position: absolute;  
  width: 80px;
  height: 80px;
  left : 350px;
  top: 180px;
  z-index: 2;
}

.pic13{
  position: absolute;  
  width: 100px;
  height: 100px;
  left : 520px;
  top: 160px;
  z-index: 2;
}

.pic14{
  position: absolute;  
  width: 100px;
  height: 100px;
  left : 1010px;
  top: 250px;
  z-index: 2;
}
.pic15{
  position: absolute;  
  width: 100px;
  height: 100px;
  left : 1010px;
  top: 350px;
  z-index: 2;
}
.btn{
  position: absolute;
  color: white;
  background-color: #4B0082; 
  left : 180px;
  top: 400px;
  z-index: 2;
}

#p21{
  color: green;
  position: relative;
  font-size: 20px;
  text-align: center;
  left: 400px;
}
#line3{
  position: relative;
  width: 820px;
  height: 50px;
  left: 70px;
  z-index: 1;
}
#dot31{
  position: absolute;
  width: 50px;
  height: 50px;
  left : 150px;
  z-index: 2;
}

#dot32{
  position: absolute;
  width: 50px;
  height: 50px;
  left : 550px;
  z-index: 2;
}

#dot33{
  position: absolute;
  width: 50px;
  height: 50px;
  left : 950px;
  z-index: 2;
}

.girlpic{
  position: relative;
  z-index: 1;
}

.phonepic{
 position: absolute;
 left : 100px;
 z-index: 2;
}

.playstore{
  position: absolute;
  left: 130px;
  top : 3050px;
  z-index: 2;
}

#footer1{
  font-family: Helvetica, sans-serif; 
  color:rgb(180, 180, 180); 
  font-size: 13px;
}

#signupFooter{
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px; 
  color:rgb(180, 180, 180);
  background-color: rgb(127, 34, 194);
}
/*
.button{
  background-color: white;
  border: none;
  color: rgb(5, 5, 141);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1{
  background-color: white;
  border: none;
  color: rgb(67, 67, 243);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}*/

